body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.banner {
    position: relative;
    text-align: center;
}

.h1 {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 50px;
    border-radius: 8px;
    color: white;
    font-weight: 550;
}